*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}
.hero{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav .logo{
    width: 40px;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 8%;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    transition: 0.5s;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}
nav ul li:hover{
    border-bottom: 1px solid #fff;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 140px;
    color: #fff;
    transition: 0.5s;
}
.content h1:hover{
    color: transparent;
}
form{
    width: 60%;
    margin: 10px auto;
    position: relative;
    border: none;
}
#search{
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background: gray;
    transition: 0.5s;
}
#search::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 600;
}
form button{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 100%;
    border: none;
    background: none;
}
form button i{
    font-size: 18px;
}
form button:hover{
    color: rgba(0, 0, 0, 0.5);
}
#search:focus {
    outline: none;
    background: #fff;
}
.sign-in {
    display: inline-block;
    text-align: center;
    margin: 50px auto;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 14px 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: 0.5s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sign-in:hover{
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}